@using Zadanie.Models
@inject SharedStateService SharedState
@inject UserGroupLogger UserLogs
<div class="container-group">
<div class="menu-group">
	@foreach(var group in _groups)
	{
		<div class="btn @group.Name @(group == _selected ? "active" : "")"
			 @onclick="() => ChangeGroup(group)"
			@ondrop="OnDropHandler"
			ondragover="event.preventDefault();">
			@{
				string url = $"img/icons/{@group.Name}.png";
			}
			<img src="@url" />
			@group.Name
		</div>
	}
</div>
<div class="dropzone user-list"
		 @ondrop="OnDropHandler"
		 ondragover="event.preventDefault();">
	@foreach(var item in _selected.Users)
	{
		<div class=" user">
			<SingleUser _parentList=_selected.Users
				User=item
				OnStartDrag="OnDragStartHandler" />
		</div>
	}
</div>
</div>
