.draggable {
    cursor: grab;
}

.card-body {
    text-align: center;
    font-size: 0.8em;
    padding: 1px 2px 1px 1px;
    border-radius: inherit;
}
.card-header {
    border-radius: inherit;
    border-bottom: none;
    
}

.card-footer {
    text-align: center;
    font-size: 0.8em;

}

.card-img-top {
    text-align: center;

}

    .card-img-top img {
        border-radius: 50%;
        width: 5em;

    }

.footer-even {
    background-color: #6BC79D;
    color: black;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.footer-odd {
    background-color: #32293F;
    color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.card {
    float: left;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 10%;
    border:none;
    

}
