@using Zadanie.Models
@inject SharedStateService SharedState
@inject UserGroupLogger UserLogs
<div class="d-flex flex-column">
<div class="dropzone" 
@ondrop="OnDropHandler"
     ondragover="event.preventDefault();">
    <h2>Użytkownicy</h2>
    <div class="dropzone bg-light p-3 my-3 border border-1 rounded">
        @foreach (var user in Users)
        {
            <SingleUser User="user" OnStartDrag="OnDragStartHandler" />
        }
    </div>
</div>
<div class="logs">
    @if (UserLogs.logs != null)
    {
            
            var logs = UserLogs.logs;
            logs.Reverse();
            
            @foreach (var item in logs)
            {
                <div "message">
                    @{
                        var source = $"img/icons/{item.icon}.png";
                    }
                    <img src="@source" />
                    @item.message
                </div>
            }
        }
    
</div>
</div>