.dropzone{
    min-height: 30rem;
}


.col-5{
    float:left;
}
.logs{
    max-height: 200px;
    overflow-y: auto;

}
::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar {
    width: 5px; 
}


::-webkit-scrollbar-track {
    background: #808080; 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #ffffff; 
    border-radius: 10px;
}