<div class="nav-scrollable">
    <nav class="flex-column star">
    <div class="nav-item">
            <div class="logo-container nav-link disabled"
		<img src="img/logo.png" alt="System Logo" />
        </div>
    </div>
    
        <div class="nav-item">
            <NavLink class="nav-link active" href="" Match="NavLinkMatch.All">
                <span class="icon"><span class="oi oi-star" aria-hidden="true"></span></span>
                <span class="label">Zakładka1</span>
            </NavLink>
        </div>
        <div class="nav-item star">
            <NavLink class="nav-link disabled" href="counter">
                <span class="icon"><span class="oi oi-star" aria-hidden="true"></span></span>
                <span class="label">Zadanie2</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
}